
@media (max-width: 768px) {
    :root {
        --borderBody: 7px solid white;
    }
}

@media (min-width: 768px) {
    :root {
        --borderBody: 8px solid white;
    }
}

@media (min-width: 1280px) {
    :root {
        --borderBody: 10px solid white;
    }
}

html {
    font-size: 1em;
    line-height: 1;
    overflow-y: scroll;
    min-height: 100%;
    background-color: #000000;
    font-weight: 400;
}

body {

}

body::after {
    content: "";
    display: block;
    position: absolute;
    height:calc(1vh*100);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

body::after {
    pointer-events: none;
    z-index: 9999;
    background-image: url("../assets/bmth-hex.gif");
    background-size: 40% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    border: var(--borderBody);
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}